In [1]:
import pandas as pd
import seaborn as sns

Zadanie 1. Przekształć poniższą tabelę, tak aby pozostały w niej elementy od trzeciego do piątego:
           
practice_array = ['Świetnie', 'się', 'bawię', 'z', 'językiem', 'Python']

In [2]:
practice_array = ['Świetnie', 'się', 'bawię', 'z', 'językiem', 'Python']
practice_array[2:5]

['bawię', 'z', 'językiem']

Zadanie 2. Załaduj ramkę danych tips z biblioteki seaborn:

- Wyświetl informacje o tej ramce, takie jak liczba obserwacji i typ każdej kolumny
- Wyświetl statystyki opisowe ramki danych

In [3]:
# Wczytywanie ramki danych i wyświetlanie informacji
tips = sns.load_dataset('tips')
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
# Obliczanie statystyk opisowych
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Zadanie 3.  Wczytaj zawartość pliku ais.xlsx do ramki danych pandas i:

* Wyświetl kilka pierwszych wierszy otrzymanej ramki danych
* Zapisz zawartość kolumny sport tej ramki danych do arkusza Excela o nazwie sport.xlsx

In [5]:
# Wczytywanie danych ais
ais = pd.read_excel('Dane/ais.xlsx')

In [6]:
# Wyświetlenie kilku pierwszych wierszy
ais.head()

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,wzrost,waga,płeć,sport
0,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,k,Koszykówka
1,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,k,Koszykówka
2,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,k,Koszykówka
3,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,k,Koszykówka
4,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,k,Koszykówka

In [7]:
# Zapis kolumny sport w arkuszu Excela
ais['sport'].to_excel('sport.xlsx')